@charset "utf-8";

#head_title {
  margin-bottom: unset;
}

/* border:solid #333 1px */

#birthday_list_tbl > thead {
  background: #cfebdb;
  display: block;
}

#birthday_list_tbl > tbody {
  display: block;
  border: black 1px;
}

.grp_nogi {
  background: #8f6addb8 !important;
}

.grp_sakura {
  background: #ffdbed !important;
}

.grp_hinata {
  background: #7cc7e8 !important;
}

.odd_row {
  background-color: white;
}

.even_row {
  background-color: #fcfff4;
}

.pt_col {
  text-align: right;
}

.month {
  width: 3.3rem;
}

.month_row{
  background-color: white;
  text-align: right;
}

.group {
  width: 4.5rem;
  text-align: center;
}

.member {
  width: 6rem;
}

.birthday {
  width: 8.4rem;
}

.birthday_row {
  text-align: right;
}

.head_event_name {
  width: 200px;
}

.header_low {
  width: 80px;
}

.header_middle {
  width: 90px;
}

.header_high {
  width: 100px;
}

.separater {
  height: 7px;
}

/*ウィンドウ幅が767px以上の場合に適用*/
@media screen and (min-width: 1025px) {
  /*ヘッダタイトル*/
  #head_title {
    font-size: 25px;
  }

  #description {
    font-size: 14px;
  }

  #condition{
    margin-top: 0.8rem;
    font-size: 16px;
    width: 26rem;
  }

  #birthday_list_tbody td {
    height: 1.8rem;
  }

  #contact {
    font-size: 14px;
  }
}

/*ウィンドウ幅が最大767pxまでの場合に適用 タブレット*/
@media screen and (max-width: 1024px) {
  /*ヘッダタイトル*/
  #head_title {
    font-size: 25px;
  }

  #description {
    font-size: 14px;
  }

  #condition{
    margin-top: 0.8rem;
    font-size: 16px;
    width: 26rem;
  }

  #birthday_list_tbody td {
    height: 1.8rem;
  }

  #contact {
    font-size: 14px;
  }
}

/*ウィンドウ幅が最大479pxまでの場合に適用 スマホ*/
@media screen and (max-width: 599px) {
  /*ヘッダタイトル*/
  #head_title {
    font-size: 17px;
  }

  #description {
    font-size: 12px;
  }

  #condition{
    margin-top: 0.5rem;
    font-size: 14px;
    width: 22rem;
  }

  #birthday_list_tbody td {
    height: 2rem;
  }

  #contact {
    font-size: 12px;
  }
}
